BLOCKCHAIN_RPC_URL=https://rpc-amoy.polygon.technology
BLOCKCHAIN_EXPECTED_CHAIN_ID=80002

# Mas adelante usaremos esto para desplegar contrato.
# NUNCA subas una private key real a GitHub.
DEPLOYER_PRIVATE_KEY=TU_PRIVATE_KEY_AQUI
CONTRACT_ADDRESS=
